<% provide :title, t("team.team_list") %>
<div class="col-md-8 col-md-offset-2">
  <h1><%= t "team.team_list" %></h1>
  <%= will_paginate %>
  <table class="table table-striped">
    <tr>
      <th><%= t "general.stt" %></th>
      <th><%= t "general.name" %></th>
      <th></th>
    </tr>
    <% @teams.each_with_index do |team, index| %>
      <tr>
        <th><%= index + 1 %></th>
        <th><%= link_to team.name, team_path(team) %></th>        
        <th><%= pluralize team.users.count, "member" %></th>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>