<% provide :title, t("team.team_list") %>
<h1><%= t "team.team_list" %></h1>
<div class="col-sm-3 col-md-12">
  <%= will_paginate %>
  <ul class="list-group">
    <% @teams.each do |team| %>
      <li class="list-group-item list-group-item-info">
        <b><%= link_to team.name, team_path(team) %></b> | 
        <%= pluralize(team.users.count, "member", "members") %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate %>
</div>