<%= form_tag admin_imports_path, multipart: true do %>
  <div>
    <%= label_tag :file, t("csv.import") %>
    <%= file_field_tag :file, class: "field-import-file" %>
    <%= hidden_field_tag :model, model %>
    <%= submit_tag t("general.submit"), class: "btn btn-success btn-import" %>
  </div>
<% end %>