<%= form_for [:admin, @project] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :abbreviation %><br>
    <%= f.text_field :abbreviation, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.collection_select :team_id, @teams, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :leader_id %><br>
    <%= f.collection_select :leader_id, @users, :id, :name %>
  </div>
  <div>
    <table>
      <%= collection_check_boxes(:project, :user_ids, User.all, :id, :name) do |b| %>
        <tr>
          <%= b.label do %>
            <th><%= b.text %></th>
            <th class="selection_checkbox"><%= b.check_box %></th>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="actions">
    <%= f.submit t "general.update", class: "btn btn-primary" %>
  </div>
<% end %>