<%= provide :title, @project.name %>
<h1><%= @project.name %></h1>
<div class="col-md-4">
  <%= t "general.download" %>  
  <%= link_to t("general.csv"), admin_project_path(format: :csv) %>
  <div id="content">
    <ul class="list_group">
      <li class="list-group-item list-group-item-info">
        <%= t "abbreviation" %> : <strong><%= @project.abbreviation %></strong>
      </li>
      <li class="list-group-item list-group-item-info">
        <%= t "start" %> : <strong><%= @project.start_date %></strong>
      </li>
      <li class="list-group-item list-group-item-info">
        <%= t "end" %> : 
        <% if @project.end_date.nil? %>
          <strong>In progress</strong>
        <% else %>
          <strong><%= @project.end_date %></strong>
        <% end %>
      </li>
      <li class="list-group-item list-group-item-info">
        Team : <strong><%= @team.name %></strong>
      </li>
      <% if @user.present? %>
        <li class="list-group-item list-group-item-info">
          <%= t "leader" %> : <strong><%= @user.name %></strong>
        </li>
      <% end %>
      <%= link_to t("general.edit"), edit_admin_project_path(@project),
                                     data: {no_turbolink: true},
                                     class: "btn btn-warning" %>
      <%= link_to t("general.delete"), admin_project_path(@project),
                                       method: :delete,
                                       data: {confirm: t("general.confirm_delete")},
                                       class: "btn btn-danger" %>
    </ul>
  </div>
</div>