<%= form_for [:admin, @user], html: {multipart: true} do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="field">
    <%= f.label t "user.email" %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>  
  <%= render "fields_user", f: f %>
<% end %>

