<h1><%= t "user.title_new" %></h1>
<div class="col-md-6 col-md-offset-3">
  <%= form_for [:admin, @user], html: {multipart: true} do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <div class="field">
      <%= f.label t "user.email" %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label t "user.password" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, t("user.confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= render "fields_user", f: f %>    
  <% end %>
</div>
