<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to t("general.logo"), root_path, class: "navbar-brand" %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to t("general.menu_item_home"), root_path %></li>        
        <li><%= link_to t("general.menu_item_teams"), "#" %></li> 
        <li><%= link_to t("general.menu_item_contact"), contact_path %></li>  
        <li><%= link_to t("general.menu_item_about"), about_path %></li>  
      </ul>
      <ul class="nav navbar-nav navbar-right">        
        <li><%= link_to t("general.login"), "#" %></li>
      </ul>
    </div>
  </div>
</nav>